                    <hr class="hr-line">
                    <h3 class="title" style="font-size:30px;">
                        <a class="social-btn" href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></i></i></a>
                        <a class="social-btn" href="http://linkedin.com/in/{{ site.linkedin }}/?locale=en_US" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                        <a class="social-btn" href="{{ site.url }}/blog" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-blog"></i></a>
                        <a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i></a>
                  </h3>
